.WelcomeForm {
   width: 45%;
   float: left;
   margin: 30px auto 40px 40px;
   border-right: 2px solid steelblue;
}
.Description {
   margin-bottom: 30px;
}
.EnterDataForm {
   margin-bottom: 30px;
}
input[type=text] {
   width: 150px;
   height: 25px;
   font-weight: bold;
   border-radius: 10px;
   border: 2px solid slateblue;
   padding-left: 10px;
   margin-right: 20px;
}
.CheckBtn {
   width: 155px;
   height: 38px;
   border-radius: 15px;
   cursor: pointer;
   border: none;
   color: #ecfff8;
   font-weight: bold;
   background: peru;
   margin-bottom: 30px;
}